html {
    font-family: 'Roboto', sans-serif;
}

body {}

.group {
    background: #C4C4C4;
    font-size: 28px;
    width: 50%;
}

.group:nth-child(odd) {
    width: 75%;
}

#h3.group {
    font-size: 16px;
}

h1 {
    /*fonsize: 56px;*/
    font-size: 2em;
}

h2 {
    /*fonsize: 42px;*/
    font-size: 1.5em;
}

h3 {
    /*fonsize: 28px;*/
    font-size: 1em;
}

.group:hover {
    font-size: 56px;
}
#h3.group:hover {
    /*.groupe:nth-child(3)*/
    font-size:32px;
}